#listAlbum{
    background-color: transparent;
}

#toolsBar{
    button{
        border: none;
        background-color: transparent;
    }
    #play{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #00D052;
        &:hover{
            background-color: lighten($color: #00D052, $amount: 10);
        }
        &:active{
            background-color: darken($color: #00D052, $amount: 10);
        }
    }
}

#brani{
    p{
        margin: 0;
        color: grey;
    }
}