@import 'palette', 'navbar';

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundBlack{
    background-color: black;
    color: white;
}

i:hover{
    background-color: grey;
}

