<<<<<<< Updated upstream
@import 'palette';
=======
@import 'palette', 'navbar';

.backgroundBlack{
    background-color: black;
    color: white;
}

i:hover{
    background-color: grey;
}

>>>>>>> Stashed changes
